<!-- logout.html -->
{% extends 'app/base.html' %}
{% load static %}
{% block title %}Logout{% endblock title %}
{% block main-content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    <h1>Confirm Logout</h1>
    <p>Are you sure you want to logout?</p>
    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
</body>
</html>
{% block main-content %}
